* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.keyboard {
	display: flex;
	flex-direction: column;
}

.rows {
	display: flex;
}

.text {
	border: 1px solid red;
	height: 200px;
}

.rows div {
	border: 1px solid blue;
	width: 60px;
	height: 60px;
}

.div-key {
	display: flex;
	flex-direction: column;
}





